<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<ul>
  <li>
    <a (click)="back()" class="fa fa-home">&nbsp;Home</a>
  </li>
  <li>
    <a (click)="updateemployee()" class="fa fa-user-circle">&nbsp;View Profile</a>
  </li>
  <li>
    <a (click)="viewrequests()" class="fa fa-users">&nbsp;View Requests</a>
  </li>

  <li>
    <a (click)="pass()" class="fa fa-key">&nbsp;Change Password</a>
  </li>

</ul>



<!---Change password-->
<div class="reglist">

  <form novalidate [formGroup]="signupForm" style="margin-top: 100px;margin-left: 550px;width: 420px;"
    (ngSubmit)="updatePassword()">
    <fieldset>
      <div class="form-group">
        Mobile Number <label>*</label>
        <input type="tel" class="form-control" formControlName="mobileNo" readonly>
      </div><br>


      <div class="form-group">
        Old Password <label>*</label>
        <input type="text" class="form-control" formControlName="password">
        <div class="alert alert-danger"
          *ngIf="signupForm.get('password').hasError('required') && signupForm.get('password').dirty">
          Old Password is required
        </div>

        <div class="alert alert-danger"
          *ngIf="signupForm.get('password').hasError('minlength') && signupForm.get('password').dirty">
          Old Password should be minimum of 6 characters.
        </div>

      </div><br>

      <div class="form-group">
        New Password<label>*</label>
        <input type="text" class="form-control" formControlName="newPassword">
        <div class="alert alert-danger"
          *ngIf="signupForm.get('newPassword').hasError('required') && signupForm.get('newPassword').dirty">
          New Password is required
        </div>

        <div class="alert alert-danger"
          *ngIf="signupForm.get('newPassword').hasError('minlength') && signupForm.get('newPassword').dirty">
          Password should be minimum of 6 characters.
        </div>
      </div><br>

      <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid" style="margin-left: 120px">Change
        Password</button> &nbsp;
    </fieldset>
  </form>
</div>
