

.pointer 
{cursor: pointer;
    color:maroon;}
 
        h3{
            margin-left: 15px;
            width: 300px;
            padding: 50px;
            color:darkslategrey
        }

        label{
            color:black;
        }
        body form{
            background-color:honeydew;
        }