

.pointer {
    cursor: pointer;
    color:maroon;}
 
 h3{
    margin-left: 3px;
    width: 600px;
    color:darkslategrey     
 }

label{
    color:red;   
}
body form{
    background-color:honeydew;
}