.pointer 
{cursor: pointer;
    color:maroon;}
 
        h3{
            margin-left: 20px;
            width: 420px;
            padding: 50px;
        }
        label{
            color:black;
        }
        body form{
            background-color:honeydew;
        }