.pointer 
{cursor: pointer;
    color:red;}
 
        h3{
            margin-left: 20px;
            width: 420px;
            padding: 50px;
        }
        label{
            color:black;
        }
        .bform{
            background-color:white;
        }
        body{
            background-color:gainsboro;
            }
            label{
                color:red
            }